
        #form1 label {
            float: left;
            width: 110px;
            font-size: 13px;
        }
        li {
            list-style-type: none;
        }
        fieldset {
            border-radius: 10px;
            border: outset 3px;
        }

        #form1 fieldset:last-of-type {
            border: none;
            margin-bottom: 10px;
            margin-top: 20px;
        }
