#container {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.box1 {
    background-color: aqua;
    grid-column: 1/4;
}

.box2 {
    background-color: rgba(248, 131, 131, 0.61);
    grid-row: 2/4;
}

.box3 {
    background-color: bisque;
    grid-column: 2/4
}

.box4 {
    background-color: rgb(166, 255, 0);
    grid-column-start: 3;
    grid-row-start: 3;
}

.box {
    padding: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

/* below is another method using territories */

#container2 {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:
        "box5 box5 box5" /* 한줄에 들어가는 것들은 큰따옴표로 묶는다. */
        "box6 box7 box7"
        "box6 .    box8" /* 공백은 . 로 작성*/
    ; 
}

.box5 {
    background-color: aqua;
    grid-area: box5;
}

.box6 {
    background-color: rgba(248, 131, 131, 0.61);
    grid-area: box6;
}

.box7 {
    background-color: bisque;
    grid-area: box7;
}

.box8 {
    background-color: rgb(166, 255, 0);
    grid-area: box8
}